<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel ="stylesheet"
      href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
</div>
<div class="about">
    <div class="about-text1">Оттачивайте английский с лучшими преподавателями и носителями языка - это комфортно и удобно.</div>
    <br/>
           <div class="about-text2">Это отличный способ расширить ваш словарный запас</div>
</div>
<div class="about">
    <div class="feature">
        <img src="{% static 'css/image/vremya.png' %}"
  width="200" height="200" alt="lorem">
    </div>
<div class="feature2">
    <img src="{% static 'css/image/mesto.png' %}"
  width="200" height="200" alt="lorem">
</div>
<div class="feature3">
    <img src="{% static 'css/image/effect.png' %}"
  width="200" height="200" alt="lorem">
</div>

</div>
</body>
</html>